
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

.reporttab {
  border: 1px solid black;
  width: 60%;
}

.reporttab th {
  background-color: #eee;
}
.reporttab tr:nth-child(even) {
  background-color: #f2f2f2
}